.real-button-wrapper {
    margin-left: 3vw;
    width: 30vw;
}
.real-button-wrapper h3 {
    font-size: 1.2rem;
    margin-left: 5%;
    font-weight: 100;
    opacity: .9;
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    color: #0a2540;
    visibility: hidden;
}

.button {
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 3px;
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border: 0;
}
.active {
    background-color: #5F5FAB;
    color: #fafafa;
}
.inactive {
    background-color: rgb(235, 235, 235);
    color: rgb(179, 179, 179);
}
.region {
    margin-left: 4%;
}
.global {
    margin-left: 4%;
}
@media screen and (max-width: 1900px) {
    .real-button-wrapper {
        margin-left: 3vw;
        width: 40vw;
    }
}