* {
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#chart {
    border: 1px solid red;
    margin-top: 2vh!important;
}
.chart-select-wrapper {
    margin-top: 5vh!important;
    margin-left: 15vh!important;
    display: flex;
    flex-direction: row;
}
.buttons-wrapper {
    margin-left: 3vw;
}
.specificCountry {
    fill: red!important;
    stroke: red!important;
}