* {
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}
#chart {
    margin-top: 3vh!important;
}
.chart-select-wrapper {
    margin-top: 5vh!important;
    margin-left: 15vh!important;
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
}
.select-wrapper {
    display: flex;
    flex-direction: column;
}
.select-wrapper h3 {
    font-size: 1.2rem;
    margin-left: 0%;
    font-weight: 500;
    opacity: .9;
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    color: #0a2540;
}
.specificCountry {
    fill: #EFBD6B!important;
    stroke: #EFBD6B!important;
}
.north-south-wrapper {
    width: 100vw;
    height: min-content;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}
.text-wrapper {
    width: 15vw;
    padding: 10px;    
    background-color: #f5f5f5;
    box-shadow: 0px 1px 3px rgba(34, 34, 34, 0.2); 
    border-top: 3px solid #5F5FAB;
    display: none;
}
.text-wrapper h1 {
    font-size: 1.2rem;
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    color: #0a2540;
    margin-top: 3%;
    font-weight: 900;
    margin-left: 5%;
}
.text-wrapper h3 {
    font-size: 1rem;
    margin-left: 5%;
    font-weight: 100;
    opacity: .9;
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    color: #0a2540;
}
.text-wrapper h3 span {
    font-weight: 900;
}
/* .negative span {
    color: #D4353A!important;
}
.positive span {
    color: #70C1B3!important;
} */
.north-wrapper {
    margin-left: 19vw;
}
.south-wrapper {
    margin-left: 30vw;
}
