.regions-wrapper {
  width: 100vw;
  height: min-content;
  margin-top: 3vh;
  display: none;
  flex-direction: row;
}

.region-text-wrapper {
  width: 12vw;
  background-color: #e8e8e8;
  box-shadow: 0px 5px 1px #ccc;
  border-top: 3px solid #e8e8e8;
  padding-bottom: 1%;
  padding: 10px;
  flex-direction: column;
  margin-left: 7%;
  display: none;
}

.region-text-wrapper h1 {
  font-size: 1.2rem;
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: #332c2c;
  margin-top: 3%;
  font-weight: 900;
  margin-left: 5%;
}

.region-text-wrapper h3 {
  font-size: 1rem;
  margin-left: 5%;
  margin-top: 1%;
  font-weight: 100;
  opacity: .7;
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: #332c2c;
}

.region-text-wrapper h3 span {
  font-weight: 900;
  opacity: 1!important;
}

.western-europe-wrapper {
  margin-left: 8%;
}

.eastern-europe-wrapper {
  margin-left: 9%;
}

.latin-wrapper {
  margin-left: 4%;
}

.bottom {
  margin-top: -65vh;
}

.bottom-region-wrapper {
  display: none;
}

.east-asia-wrapper {
  margin-left: 3%;
}

.north-america-wrapper {
  margin-left: 8%;
}

.mena-wrapper {
  margin-left: 10.5%;
}

.central-asia-wrapper {
  margin-left: 8%;
}

.indian-wrapper {
  margin-left: 4%;
}

@media screen and (max-width: 1900px) {
  .region-text-wrapper {
    width: 15vw;
    background-color: #e8e8e8;
    box-shadow: 0px 5px 1px #ccc;
    border-top: 3px solid #e8e8e8;
    padding: 10px;
    padding-bottom: 1%;
    flex-direction: column;
    margin-left: 5%!important;
    display: none;
  }
  .region-text-wrapper h1 {
    font-size: 1.1rem!important;
    margin-top: 2%!important;
    margin-left: 2%!important;
  }
  .region-text-wrapper h3 {
    font-size: 1.1rem;
    margin-left: 2%!important;
    margin-top: 1%;
  }
  .bottom {
    margin-top: -85vh!important;
  }
  .bottom-region-wrapper {
    display: none;
  }
  .east-asia-wrapper {
    margin-left: 3%!important;
  }
  .north-america-wrapper {
    margin-left: 8%;
  }
  .mena-wrapper {
    margin-left: 6%!important;
  }
  .africa-wrapper {
    margin-left: 6%!important;
  }
  .central-asia-wrapper {
    margin-left: 8%;
  }
  .indian-wrapper {
    margin-left: 3%!important;
  }
  .pacific-wrapper {
    margin-left: 3%!important;
  }
  .western-europe-wrapper {
    margin-left: 8%;
  }
  .eastern-europe-wrapper {
    margin-left: 9%;
  }
  .latin-wrapper {
    margin-left: 3%!important;
  }
}