.few {
    font-weight: 900;
    color: #5F5FAB;
}
.many {
    font-weight: 900;
    color: #F8A163;
}
.second-chart-wrapper {
    margin-top: -10vh;
}

.second-charts-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 15vh;
    height: 800px;
}
.lower-container {
    display: flex;
    flex: 1;
    width: 50%;
    flex-direction: column;  
}
.lower-container h1 {
    margin-left: 10vw;
    font-size: 1.6rem;
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    color: #0a2540;
    margin-top: 3%;
    font-weight: 900;
}
.lower-container h3 {
    margin-left: 10vw;
    font-size: 1.1rem;
    font-family: Avenir, Lato, Arial, Helvetica, sans-serif;
    color: #0a2540;
    opacity: .5;
    letter-spacing: 1px;
    margin-top: 1%;
    font-weight: 900;
}
.lower-chart {
    margin-top: 3vh;
}
.hidden {
    visibility: hidden;
}